/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/portfolio/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_container__ddMGI {
}

.page_mainTitle__fZaoU {
    font-size: 100px;
}

.page_selectTitle__dnO26 {
    margin: 20px 0px;
}

.page_items__GL6at {
    display: flex;
    gap: 50px;
}

.page_item__nGPTM {
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
}

.page_item__nGPTM:nth-child(1) {
    background: url('/illustration.png');
}
.page_item__nGPTM:nth-child(2) {
    background: url('/websites.jpg');
}
.page_item__nGPTM:nth-child(3) {
    background: url('/apps.jpg');
}

.page_title__ExBKC {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

.page_item__nGPTM:hover .page_title__ExBKC {
    color: #53c28b;
}

