/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/contact/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_container__5YXRc {
}

.page_title__Q_S9Y {
    font-size: 60px;
    margin-bottom: 100px;
    text-align: center;
}

.page_content__whaW4 {
    display: flex;
    align-items: center;
    gap: 100px;
}

.page_imgContainer__tS554 {
    flex: 1 1;
    height: 500px;
    position: relative;
}

.page_image__1JO_G {
    object-fit: contain;
    /* animation: move 3s infinite ease alternate; */
}

@keyframes page_move__zJ8HC {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(0px) scale(1.03);
    }
}

.page_form__arM1T {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page_input__4_GuJ,
.page_textArea__9dygu {
    padding: 20px;
    background-color: transparent;
    outline: none;
    color: #bbb;
    border: 3px solid #bbb;
    font-size: 20px;
    font-weight: bold;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/Button/button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.button_container__uA_oD {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
}

