/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/portfolio/[category]/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__rbqPi {
}

.page_catTitle__h0Kxu {
    color: #53c28b;
}
.page_item__XrdDN {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.page_imgContainer__jROYU {
    flex: 1 1;
    height: 500px;
    position: relative;
}

.page_item__XrdDN:nth-child(2n + 1) {
    flex-direction: row-reverse;
}

.page_img__2W4GD {
    object-fit: cover;
}

.page_content__shD3S {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.page_title__EpnXR {
    font-size: 50px;
}

.page_desc__dCnr4 {
    font-size: 20px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/Button/button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.button_container__uA_oD {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
}

